.bg-blue {
  background-color: #00288F;
  color: white;
  width: 100%;
}

li, a {
  display: inline;
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
}
.hidden-sm {
  float: right;
  position: relative;
  left: 22rem;
  bottom: 3.5rem;
}

.glyphicon {
  font-size: 2rem;
}

.container-header {
  background-color: lightgreen;
  height: 100%;
  padding: 5%;
}
.raw-photo {
  text-align: center;
}

.central-img {
  border: 1px solid black;
  border-radius: 50%;
}
