/* header */
.bg-blue {
  background-color: #00288F;
  color: white;
  width: 100%;
}

li, a {
  display: inline;
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
}

.hidden-sm {
  float: right;
  position: relative;
  left: 22rem;
  bottom: 3.5rem;
}

.glyphicon {
  font-size: 2rem;
}

.container-header {
  background-color: lightgreen;
  height: 100%;
  padding: 5%;
  text-align: center;
}
.raw-photo {
  text-align: center;
}

.central-img {
 height: 150px;
}

img {
  width: 100%;
}
.photo-main {
  padding-top: 1rem;
}
.container-main-one {
  height: 100%;
}

.container-main-two {
  height: 100%;
  background-color: lightgreen;
}
.left, .right {
  background-color: lightgreen;
}

.btn {
  background-color: lightgreen;
  float: left;
  margin: 0.5rem;
}
